<p><strong>Checkpoint</strong> <strong>Open Time</strong> <strong>Close Time</strong></p>
{% for item in items %} 
  <p>{{ item._dist }} &nbsp:&nbsp {{ item._open }} &nbsp:&nbsp {{ item._close }}<p>
{% endfor %}